@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.cart-container {
  // @include flex-row;
  position: relative;
  // width: 70px;
  // height: 70px;
  // left: 1791px;
  // top: 12px;
}

.cart-picture {
  width: 50px;
  height: 50px;
  // padding: $padding;
}

span {
  position: absolute;
  font-weight: 600;
  color: #FF8E2E;
}

.short-counter {
  font-size: 25px;
  left: 22px;
}

.large-counter {
  font-size: 18px;
  left: 20px;
}
