$colors: (
  primary: #ff8e2e,
  primary-light: lighten(#ff8e2e, 20%),
  primary-dark: darken(#ff8e2e, 10%),
  accent: #607d8b,
  accent-light: lighten(#607d8b, 30%),
  accent-dark: darken(#607d8b, 30%),
  background: #eaeded,
  text-primary: #000000,
  text-accent: #FFFFFF,
  input-background: #FFFFFF,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  h1: 60px,
  h2: 30px,
  h3: 25px,
  p: 16px,
);

@function font-size($type) {
  @return map-get($font-sizes, $type);
}

$common-spacing: 10px;
$common-border-radius: 5px;
$common-min-button-width: 20px;

$minDesktopWidth: 840px;
