@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

:host {
  width: 100%;
}

.form-container {
  @include flex-row;
}

.category-selector {
  all: unset;
  align-items: center;
  background: color(primary);
  border-radius: $common-border-radius;
  cursor: pointer;
  height: 40px;
  padding: 0 $common-spacing;
}

.search-input {
  all: unset;
  background: color(input-background);
  border-radius: $common-border-radius;
  color: color(accent);
  height: 40px;
  padding: 0 $common-spacing;
  width: 100%;
}

.submit-button {
  @include primary-button;
}
