@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.list-container {
  @include flex-column;

  align-items: stretch;
  min-height: 80vh;
  justify-content: unset;

  .product-preview {
    all: unset;
    @include flex-row;

    justify-content: left;
    cursor: pointer;
    background-color: white;
    border: solid 2px color(primary);
    border-radius: $common-border-radius;
    margin: 2px 0;
    padding: 5px;
    color: color(accent);

    &:hover {
      opacity: 0.8;
      color: color(primary);
    }

    @include desktop {
      margin: 5px 0;
      padding: $common-spacing;
    }

    .preview-image {
      max-height: 100px;
      min-height: 100px;
      max-width: 100px;
      min-width: 100px;
      object-fit: contain;
      margin-right: $common-spacing * 2;

      @include desktop {
        max-height: 200px;
        min-height: 200px;
        max-width: 200px;
        min-width: 200px;
      }
    }

    .product-information {
      @include flex-column;

      align-items: flex-start;

      .product-name {
        @include p1;

        font-weight: 600;

        @include desktop {
          @include h2;
        }
      }

      .product-seller {
        @include p2;

        @include desktop {
          @include p1;
        }
      }

      .product-price {
        @include h3;

        @include desktop {
          @include h2;
        }
      }
    }
  }

  .page-selector {
    @include flex-row;

    margin-top: $common-spacing;

    @include desktop {
      align-self: center;
      width: 400px;
    }

    button {
      @include primary-button;

      min-width: $common-min-button-width;

      &.active {
        background-color: color(primary-dark);
        cursor: default;
      }
    }
  }
}
