<div *ngIf="cartService.cartProducts.length > 0" class="cart-detail-container">
  <div class="list-container">
    <div
      class="product-preview"
      *ngFor="let product of cartService.cartProducts"
    >
      <img
        routerLink="/product/{{ product.id }}"
        class="preview-image"
        [src]="
          product.picture ||
          'https://res.cloudinary.com/christianpg/image/upload/v1594344603/ckc49b7ra00360787ektuopqk_hkwfwa.jpg'
        "
        onerror="this.src='https://res.cloudinary.com/christianpg/image/upload/v1594344603/ckc49b7ra00360787ektuopqk_hkwfwa.jpg';"
        alt="Get {{ product.name }} on Amalizon"
      />
      <div class="product-information">
        <span routerLink="/product/{{ product.id }}" class="product-name">{{
          product.name
        }}</span>
        <span class="product-seller"
          >by {{ product.seller?.name || "Amalizon" }}</span
        >
        <span class="product-price">
          <span class="general-title">Price: </span> ${{ product.price }}
        </span>
        <div class="quantity-container">
          <button
            class="decrease-button"
            (click)="decreaseQuantity(product)"
            [disabled]="product.quantity < 2"
          >
            -
          </button>
          <span class="product-quantity">{{ product.quantity }}</span>
          <button class="increase-button" (click)="increaseQuantity(product)">
            +
          </button>
          <button class="remove-button" (click)="removeProduct(product.id)">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <span class="total">
    <span class="general-title">Total: </span> ${{ cartService.total }}
  </span>
</div>

<div
  class="empty-cart-container"
  *ngIf="cartService.cartProducts.length < 1"
>
  <img
    class="fullscreen-image"
    src="../../assets/empty-cart.svg"
    alt="Amalizon - Get anything you want."
  />
</div>
