@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.main-container{
  @include flex-row;

  min-height: 80vh;
  width: 100%;
  justify-content: center;

  .welcome-image {
    max-width: 90%;
    max-height: 80vh;
    min-height: 80vh;
    object-fit: contain;
  }
}
